@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Italic.woff2") format("woff2"), url("../fonts/Roboto-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-MediumItalic.woff2") format("woff2"), url("../fonts/Roboto-MediumItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Thin.woff2") format("woff2"), url("../fonts/Roboto-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-BlackItalic.woff2") format("woff2"), url("../fonts/Roboto-BlackItalic.woff") format("woff");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-LightItalic.woff2") format("woff2"), url("../fonts/Roboto-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-BoldItalic.woff2") format("woff2"), url("../fonts/Roboto-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-ThinItalic.woff2") format("woff2"), url("../fonts/Roboto-ThinItalic.woff") format("woff");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Dancing Script';
    src: url("../fonts/DancingScript-Bold.woff2") format("woff2"), url("../fonts/DancingScript-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Dancing Script';
    src: url("../fonts/DancingScript-Medium.woff2") format("woff2"), url("../fonts/DancingScript-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Dancing Script';
    src: url("../fonts/DancingScript-Regular.woff2") format("woff2"), url("../fonts/DancingScript-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dancing Script';
    src: url("../fonts/DancingScript-SemiBold.woff2") format("woff2"), url("../fonts/DancingScript-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Dancing Script';
    src: url("../fonts/DancingScript-Regular.woff2") format("woff2"), url("../fonts/DancingScript-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

.primary-color-bg {
  background-color: rgba(198, 214, 231, 1.0); /* Adjust the opacity as needed */

}

.secondary-color-bg {
  background-image: linear-gradient(to bottom, #446db5, rgba(169, 155, 182, 1.0));

 
}

.third-color-bg {
  background-color: #ffffff;
}

.picture-bg {
  position: relative;
  flex-grow: 1;
  background-image: url('https://i.imgur.com/IIjusuc.png');
  background-size: cover;
  background-position: center;
}

.content {
    color: #313131;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    display: flex;
    flex-direction: column;
}

.sidenav {
  color:#446db5;
  font-size: 16px;
  font-family: 'sans-serif';
}

.main {
    position: relative;
    flex-grow: 1;
}

.main-color {
    color: #253c63;
}

.main-color-emphasized {
    color: #253c63;
    font-family: sans-serif;
    
}

.second-color {
  color: #171742;
}

.font-secondary {
    font-family: 'serif';
}

.font-three {
  font-family: 'sans-serif';
  font-size: 1.25rem;
}

.font-four {
  font-family: 'sans-serif';
  font-size: 1.75rem;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.section {
    overflow: auto;
}

.container {
    margin: auto;
    width: 700px;
}

.container-grid {
    display: grid;
    grid-gap: 20px;
}

.container-grid-thirds {
    grid-template-columns: 2fr 1fr;
}

@media only screen and (max-width: 1280px) {
    .container-grid-thirds {
        display: block;
    }
}

.container-grid-halves {
    grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 1280px) {
    .container-grid-halves {
        display: block;
    }
}

/* za mobilne uređaje*/
@media only screen and (max-width: 600px) {
  .container {
      width: 100%;
      padding: 0 10px;
  }

  .vertical-center {
      flex-direction: column;
  }

  .scaled-image {
      max-width: 100%;
  }

  .menu {
      flex-direction: column;
      align-items: flex-start;
  }

  .menu-item {
      padding: 10px 0;
  }
}



.navigation {
    padding: 10px;
}

.centered-container {
    text-align: center;
}

.container-floated {
    float: left;
}

.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.image-container {
  display: flex;
}

.vertical-center-novi {
  justify-content: center;
  align-items: center;
  /*margin: 0 10px;*/
}

.link {
    color: #232f43;
    text-decoration: none;
    outline: none;
    font-family: serif;
}

.link:hover {
    text-decoration: none;
    outline: none;
    color:#456aaa;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.menu-distributed {
    justify-content: space-around;
}

.menu-item {
    text-transform: uppercase;
    padding: 20px;
    
}

.photo-box {
    text-align: center;
}

.photo-box-title {
    font-size: 30px;
}

.photo-box-image {
    width: 200px;
    height: 200px;
    background-color: #6d95da;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

.photo-box-image-tulips {
    background-image: url(../images/tulip.jpg);
}

.photo-box-image-fuchsia {
    background-image: url(../images/fuchsia.jpg);
}

.photo-box-image-lavender {
    background-image: url(../images/lavender.jpg);
}

.photo-box-image-rake {
    background-image: url(../images/rake.jpg);
}

.photo-box-image-shovel {
    background-image: url(../images/shovel.jpg);
}

.summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.summary-title {
    font-weight: bold;
    font-size: 30px;
    margin: 0;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    background-color: #446db5;
}

.scaled-image {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.scaled-image-novi{
  display: block;
  max-width: 90%;
  max-height: auto;
}

.scaled-image-fixed {
    display: block;
    width: 200px;
}

.badge-image {
    width: auto;
    height: 150px;
    float: right;
}

.news-title {
    font-size: 30px;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 1em;
}

.infobox {
    padding-left: 40px;
    background-position: top left;
    background-size: 30px auto;
    background-repeat: no-repeat;
    margin: 0 0 0.5em 0;
    overflow: auto;
}

.infobox-marginless {
    margin-bottom: 0;
}

.infobox-news {
    background-image: url("../images/firesale.png");
}

.infobox-calendar {
    background-image: url("../images/calendar-icon.png");
}

.infobox-copyright {
    background-image: url("../images/copyright-icon.png");
}

.infobox-flower {
    background-image: url("../images/flower-icon.png");
}

.infobox-truck {
    background-image: url("../images/truck.png");
}

.infobox-scale {
    background-image: url("../images/scale.png");
}

.infobox-title {
    margin-top: 0.2em;
    margin-bottom: 0.5em;
}

.infobox-subtitle {
    margin: 0.5em 0 0.5em 0;
}

.infobox-content {
    margin: 0 0.5em;
}

.infobox-link {
    margin: 0 0.5em;
}

.infobox-title-secondary-color {
    color: #ffffff;
}
/*
.separator {
    width: 200px;
    margin: auto;
    height: 20px;
    border-width: 3px;
    border-style: solid;
    border-color: #e0aacd;
    border-radius: 5px;
    background-image: url("../images/dot.png");
    background-size: 10px;
    background-repeat: repeat-x;
    background-position: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
*/
 /* Dropdown Button */
.dropbtn {
  background-color: #ffffff;
  color: #ffffff;
  padding: 16px;
  font-size: 16px;
  border: none;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #6d7bcc;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #6d7bcc;}

.dropdown:hover .dropdown-content {display: block;}

.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(171,79,139,0.5); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #ffffff;
    margin: 9% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 5px solid #ab4f8b;
    width: 50%; /* Could be more or less, depending on screen size */
    height: 30%;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  /* Tooltip container */
.tooltip {
    position: relative;
    display: inline;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    background-color: white;
    color: #ab4f8b;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;
    border-width: 1px;
    border-color: #ab4f8b;
    border-style: solid;
    width: 60px;
    bottom: 100%;
    left: 50%;
    margin-left: 0px; /* Use half of the width (120/2 = 60), to center the tooltip */
    margin-bottom: -5px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url("search-icon.jpg");
    background-size: 25px;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 100%;
  }

  .inventory {
    margin-left: 25%;
    color: #446db5;
    font-size: 0.5625rem;
    font-family: 'sans-serif';
    overflow: hidden;
   
  }

  .upit{
    margin-left:41%;
    display: flex;
    color: #000000;
    font-size: 1.375rem;
    font-family: 'sans-serif';
    
  }

  .upit-text{
    margin-left:41%;
     font-weight: bold;

  }
 
  .upit2{
    margin-left:41%;
    display: flex;
    color: #000000;
    font-size: 1.375rem;
    font-family: 'sans-serif';
    width:auto;
    height:9.375rem
    
  }
  .upit-button{
    margin-left:45%;
    color: #000000;
    width:8.4375rem;
    height:2.1875rem;
  }

  .podaci{
    position: absolute;
    top: 5%;
    left: 78%;
    font-family: sans-serif;
    color: #000000;
    font-weight: bold;
    font-size:1rem;

  }
  .podaci-small{
    font-size:0.875rem;
    font-weight: normal;
  }

  #inventory-list li, a{
    color: #446db5;
    text-decoration: underline;
  }

  #inventory-list li::marker {
    color: black;
  }

  #inventory-list a:hover {
    color: #6d7bcc;
    cursor: pointer;
  }

  .category-title {
    font-size: xxx-large;
  }


  .cart {
    text-align: left;
    max-width: 300px;
    height: 400px;
  }
  
  .cart-item,
  .cart-header {
    display: flex;
    flex-flow: row wrap;
   position: relative;
  flex-grow: 1;
  width: 700px;
  margin: auto;
  text-align: center;
  }
  
  .cart-item-title,
  .cart-header-title {
    flex: 1;
    color: #446db5;
  }
  
  .cart-item-quantity,
  .cart-item-button {
    flex: 1;
  }

  .cart-item-button button {
    border: none;
    background: #e0aacd;
    color: #ab4f8b;
    font-weight: bold;
    border-radius: 50%;
  }

  .cart-item-button:hover {
    cursor: pointer;
  }

  .cart-item-button img {
    flex: 1;
    width: 20px;
    height: 20px;
  }
  
  .cart-header {
    border-bottom: 1px solid #446db5;
    color: #446db5;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .cart-button {
    color: #446db5;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    border: none;
    border: 2px solid #446db5;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    margin: 0 auto;
    display: block;
    width: fit-content;
  }

  .cart-item-price {
    flex: 1;
  }
  
  .cart-btn {
    cursor: pointer;
    background-image: url(../images/cart-icon.svg);
    width: 30px;
    height: 30px;
    margin: auto;
  }
  
  .cart-btn:hover {
    opacity: 0.3;
  }
  
  .cart-menu img {
    opacity: 0.5;
  }
  
  .cart-menu:hover img {
    opacity: 1;
  }
  
  .cart-menu-status {
    display: flex;
  }
  
  .cart-menu-status div {
    padding: 2px;
  }
  
  .photo-box {
    text-align: center;
  }
  
  .photo-box-title {
    font-size: 30px;
  }
  
  .photo-box-image {
    width: 200px;
    height: 200px;
    background-color: #e0aacd;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
  }
  
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 1em;
  }
  
  .link:hover {
    color: #6d7bcc;
    text-decoration: none;
  }
  
  .link-active {
    text-decoration: underline;
    color: #6d7bcc;
  }



  